# Global default owners
* @thisrohangupta

# Directories
/apps/console/ @thisrohangupta
/apps/web/ @thisrohangupta
/apps/api-python/ @thisrohangupta
/apps/api-go/ @thisrohangupta
/apps/api-java/ @thisrohangupta
/apps/functions/ @thisrohangupta
/apps/mobile/ @thisrohangupta
/apps/salesforce/ @thisrohangupta
/ops/ @thisrohangupta
/.github/ @thisrohangupta

